p{
  margin-block-end: 0;
  margin-block-start: 0;
}
.user-favours-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}
.page-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5px;
}
h2{
    font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
  line-height: 1.2;
   color: #4a4a4a;
}


  .subtitle2 {
    color: #555;
    margin-bottom: 1.5rem;
  }

.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}


  .cards-container {
    display: grid;
    justify-content: space-between;
    gap: 20px;               /* spacing between cards */
    padding: 40px 0;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);

  }
.favor-card{
  background: #fff;
  padding: 40px 30px;
}
.icon-wrapper{
  padding: 20px;
  border-radius: 10px;
}
   .owe {
      background-color: #feedea;
    }

    .owed {
      background-color: #ecf7f0;
    }
    .completed {
      background-color: #efeffc;
    }

    .card{
      display: flex;
      justify-content: space-between;

    }

.add-btn{
    background: var(--primary-color);
  color: #fff;
  border-radius: 10px;
  padding: 25px 40px;
  font-size: 16px ;
}


.owe-colour{
  color: #EF4444;
}
.owed-colour{
  color: #14B981;
}
.completed-colour{
  color: #6366f1;
}

mat-icon{
  transform: scale(1.2);
}



.label {
  margin: 0;
  font-size: 18px;
  color: #4B5563;
  margin-bottom: 5px;
}

.value {
  font-size: 28px;
  font-weight: bold;
  margin-top: 5px;

}
