<div class="hero-section">
  <div class="hero-content">
    <h1 class="hero-title">
      <span class="gradient-text">Track Favours, Build</span><br />
      <span class="gradient-text2">Community</span>
    </h1>
    <p class="hero-subtext">
      KindCoin makes it easy to track favors between friends and colleagues.<br />
      Post requests, earn rewards, and build stronger relationships through small acts of kindness.


    </p>
    <div class="hero-buttons">
      <button mat-flat-button color="primary" class="main-btn" >Start Tracking Favors</button>
      <button mat-stroked-button color="primary" class="secondary-btn">Browse Requests</button>
    </div>
  </div>
</div>
