.hero-section {
  padding: 100px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.hero-content {
  max-width: 800px;
}

.hero-title {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 24px;
  line-height: 1.2;
}

.gradient-text2 {
  color: var(--primary-color);
}
.gradient-text {
  color: #4a4a4a;
}

.hero-subtext {
  font-size: 21px;
  color: #4a4a4a;
  margin-bottom: 40px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.main-btn{
  background: var(--primary-color);
  color: #fff;
  border-radius: 10px;
  padding: 25px 40px;
  font-size: 16px ;
}

.secondary-btn {
  border-radius: 10px;
  padding: 25px 40px;
  color: var(--primary-color);
  font-size: 16px;
}
