<div class="hero-section">
  <div class="hero-content">
    <h1 class="hero-title">
      <span class="gradient-text">Track Favours, Build</span><br />
      <span class="gradient-text2">Community</span>
    </h1>
    <p class="hero-subtext">
      KindCoin makes it fun and easy to keep track of favors among friends.<br />
      From coffee runs to pizza shares, every good deed counts.
    </p>
    <div class="hero-buttons">
      <button mat-flat-button color="primary" class="main-btn" >Start Tracking Favors</button>
      <button mat-stroked-button color="primary" class="secondary-btn">Browse Requests</button>
    </div>
  </div>
</div>
